<div class="container-fluid">

  <div class="row p-0 mt-2">
    <div class="col-lg-12 d-flex justify-content-between">
      <h4>Clientes</h4>

      <div class="form-inline">
        <form [formGroup]="formCreate">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="name" placeholder="Digite..." aria-label="Digite..."
              aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="save()">+</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of todoLists$ | async;let i = index">
          <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
